ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 300px;
    align-items: center;
}
li{
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
}

.flex1{
    order:1;
    flex: 1 1 5rem;
    border:3px dotted red;
}
.flex2{
    order:2;
    flex: 2 2 5rem;
    border:3px dotted blue;
}